@import "../../../styles/vars.scss";

.doctor {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    height: 400px;
    padding: 16px 16px 0 16px;
    background: white;

    &-title {
        font-size: 24px;
    }

    &-section {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    &-button {
        width: 120px;
        padding: 16px;
        border-radius: 16px;
        background-color: $blue;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    &-image {
        width: auto;
        height: 100%;
    }

    @media (max-width: 768px) {
            flex-direction: column;
            height: auto;
    
        &-image {
            width: 100%;
            height: auto;
        }
    
        &-section {
            align-items: center;
        }

        &-title {
            text-align: center;
            font-size: 18px;
        }
    }
}