@import '../../styles/vars.scss';

.modal {
    width: 50%;
    height: 60vh;
    margin: auto;
    overflow: hidden;
    // display: flex;
    justify-content: center;
    position: relative;

    &-content {
        height: 95%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .close {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &-title {
        // margin-bottom: 24px;
    }
    &-input {
        padding: 8px 8px;
        border-bottom: .5px solid rgba(128, 128, 128, 0.336);
        border-radius: 4px;

        &:focus {
            outline: 1px solid rgba(0, 162, 255, 0.151);
        }
    }
    &-submit {
        width: min-content;
        border-radius: 4px;
        background-color: $blue;
        padding: 8px 4px;
    }
    &-switch_msg {
        font-size: 16px;
        // margin-top: 12px;
    }
    &-switch {
        display: inline;
        padding: 0;
        color: $blue;
    }
    
    &-form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &-caption {
        font-size: 14px;
        color: black;
        padding: 6px;
        
        &.error {
            background-color: rgba(252, 0, 0, 0.233);
        }
    }

    @media (max-width: 768px) {
        height: 80vh;
        width: 70vh;  
    }
}