.contact {
  position: fixed;
  display: flex;
  bottom: 50px;
  right: 30px;
  align-items: center;
  justify-content: center;
  background: url(../icons/contact/contact-background.svg);
  background-size: cover;
  height: $contact-background-size;
  width: $contact-background-size;
  box-shadow: $content-box-shadow;
  z-index: 10;

  &__icon-message {
    width: $contact-icon-size;
    height: $contact-icon-size;
  }

  &__icons-wrapper {
    position: relative;
  }

  &__icons {
    position: absolute;
    bottom: $contact-icons-margin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    pointer-events: none;
  }

  &__icon-telegram {
    opacity: 0;
    transform: translateY($contact-icon-default-position);
    width: $contact-icon-size;
    height: $contact-icon-size;
    transition: all $transition-time;
    box-shadow: $content-box-shadow;
  }

  &__icon-viber {
    opacity: 0;
    transform: translateY($contact-icon-default-position + 50px);
    width: $contact-icon-size;
    height: $contact-icon-size;
    transition: all $transition-time;
    box-shadow: $content-box-shadow;
  }

  &__icon-instagram {
    opacity: 0;
    transform: translateY($contact-icon-default-position + 100px);
    width: $contact-icon-size;
    height: $contact-icon-size;
    transition: all $transition-time;
    box-shadow: $content-box-shadow;
  }

  &:hover {
    .contact__icon-telegram,
    .contact__icon-viber,
    .contact__icon-instagram {
      opacity: 1;
      transform: translateY(0);
      // pointer-events: all;
    }
  }
}