.feedback-button {
  position: fixed;
  display: flex;
  bottom: 50px;
  right: 30px;
  align-items: center;
  justify-content: center;
  background: url(../icons/contact/contact-background.svg);
  background-size: cover;
  height: 60px;
  width: 60px;
  z-index: 999;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));

  &:hover {
    cursor: pointer;
  }

  &__icons {
    position: absolute;
    bottom: $contact-icons-margin;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    gap: 15px;
  }

  &__icon {
    opacity: 0;
    width: $contact-icon-size;
    height: $contact-icon-size;
    transition: all $transition-time;
    filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));

    &--telegram {
      transform: translateY($contact-icon-default-position);
    }

    &--viber {
      transform: translateY($contact-icon-default-position + 50px);
    }

    &--instagram {
      transform: translateY($contact-icon-default-position + 100px);
    }

    &--message-close, &--message-open {
      opacity: 1;
      width: 60px;
      height: 60px;
      background-position: 50%;
      background-size: 40px;
      background-repeat: no-repeat;
    }

    &--message-close {
      background-image: url("../icons/contact/message.svg");
    }

    &--message-open {
      background-image: url("../icons/contact/close.svg");
    }

    &--show {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }
  }
}
