.header {
  position: relative;

  &--service-page {
    @include onPhone(175px, 320px);
  }

  &--main-page {
    @include onPhone(568px, 320px);
  }

  &--about-us-page {
    background-color: $header-about-us-background-color;
  }

  &--useful-page {
    background-color: $header-useful-page-background-color;
  }

  &--reviews-page {
    background-color: $header-reviews-page-background-color;
  }

  &__background-image {
    position: absolute;
    width: 320px;
    height: 568px;
    z-index: -1;
    object-fit: cover;
    filter: blur(9px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content-title {
    margin: 100px 0 4px;
    color: $header-title-color;
    font-size: 3.125rem;
    font-weight: 700;
  }

  &__content-text {
    margin-bottom: 48px;
    color: $header-under-title-color;
    font-size: 0.875rem;
    font-weight: 300;
  }

  &__content-bottom-text {
    text-align: center;
    color: $header-text-color;
    font-size: 1rem;
    font-weight: 500;

    @include contentPadding;
  }
}
