.header {
  position: relative;
  align-items: center;

  @include onPhone(568px, 320px);

  &__background-image {
    position: absolute;
    width: 320px;
    height: 568px;
    z-index: -1;
    object-fit: cover;
    filter: blur(9px);
  }

  &__logo-image {
    width: 125px;
    height: 40px;
  }

  &__logo-link {
    display: flex;
  }

  &__title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 52px 0 48px;
    width: 260px;
    height: 82px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content-title {
    margin: 0;

    text-align: center;
    color: $header-title-color;
    font-size: 3.125rem;
    font-weight: 700;
  }

  &__content-text {
    margin: 4px 0 0;

    color: $header-under-title-color;
    font-size: 0.875rem;
    font-weight: 300;
  }

  &__content-bottom-text {
    display: block;
    margin-bottom: 52px;
    width: 260px;
    height: 79px;

    text-align: center;
    color: $header-text-color;
    font-size: 1rem;
    font-weight: 500;
  }
}
