.header {
  position: relative;

  &--about-us-page {
    background-color: $header-about-us-background-color;
  }

  &--useful-page {
    background-color: $header-useful-page-background-color;
  }

  &--contacts-page {
    background-color: $header-contacts-page-background-color;
  }
  
  &__background-image {
    position: absolute;
    width: 320px;
    height: 568px;
    z-index: -1;
    object-fit: cover;
    filter: blur(9px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content-title {
    font-size: 3.125rem;
    font-weight: 700;
    color: #0C0202;
    
    &--main-page {
      color: $header-title-color;
      margin: 100px 0 4px;
    }

    &--about-us-page {
      margin: 24px 0 24px;
    }
  }

  &__content-text {
    margin-bottom: 48px;
    color: $header-under-title-color;
    font-size: 0.875rem;
    font-weight: 300;
  }

  &__content-bottom-text {
    text-align: center;
    color: $header-text-color;
    font-size: 1rem;
    font-weight: 500;

    @include contentPadding;
    &--strong {
      font-weight: 800;
    }
  }

  &__logo-image {
    width: 125px;
    height: 40px;
  }
}
