.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;

  &--basket {
    background-image: url(../../icons/basket.svg);
  }

  &--search {
    background-image: url(../../icons/search.svg);
  }

  &--menu {
    background-image: url(../../icons/menu.svg);
  }

  &--close {
    background-image: url(../../icons/close.svg);
  }

  &--favorite {
    background-image: url(../../icons/favorite.svg);
  }

  &--account {
    background-image: url(../../icons/account.svg);
  }
}