.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;

  @include onTablet {
    width: 32px;
    height: 32px;
  }

  &--basket {
    background-image: url(../icons/basket.svg);
  }

  &--basket-white {
    background-image: url(../icons/basket-white.svg);
  }

  &--search {
    background-image: url(../icons/search.svg);
  }

  &--search-input {
    background-image: url(../icons/search.svg);
    @include onTablet {
      width: 28px;
      height: 28px;
    }
  }

  &--menu {
    background-image: url(../icons/menu.svg);
  }

  &--close {
    background-image: url(../icons/close.svg);
  }

  &--favorite {
    background-image: url(../icons/favorite.svg);
  }

  &--account {
    background-image: url(../icons/account.svg);
  }

  &--socials {
    width: 48px;
    height: 48px;
  }

  &--location {
    background-image: url(../icons/location.svg);
    width: 50px;
    height: 50px;
  }

  &--phone {
    background-image: url(../icons/phone.svg);
    width: 50px;
    height: 50px;
  }

  &--plus-input {
    background-image: url(../icons/plus.svg);
    @include onTablet {
      width: 28px;
      height: 28px;
    }
  }

  &--contacts-telegram {
    background-image: url(../icons/contact/telegram.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
  }

  &--contacts-viber {
    background-image: url(../icons/contact/viber.svg);
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
  }

  &--payment {
    background-image: url(../icons/card.svg);
    width: 23px;
    height: 12px;
  }

  &--speed {
    background-image: url(../icons/box.svg);
    width: 23px;
    height: 12px;
  }

  &--truck {
    background-image: url(../icons/truck.svg);
    width: 23px;
    height: 12px;
  }

  &__input-search {
    position: absolute;
    left: 19px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__input-plus {
    position: absolute;
    right: 16px;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
