.main {
  &--about-us-page {
    background-color: $main-about-us-background-color;

    @include contentPadding;
  }

  &--service-page {
    background-color: $main-useful-page-background-color;

    @include contentPadding;
  }

  &--useful-page {
    background-color: $main-useful-page-background-color;

    @include contentPadding;
  }

  &--reviews-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $body-reviews-page-background-color;

    @include contentPadding;

    &__feedback {
      position: relative;
      margin: 32px 0 0;
      color: $feedback-text-color;
      font-size: 0.875rem;
      font-weight: 300;
    }

    &__feedback-text {
      margin-bottom: 7px;
    }

    &__icon {
      position: absolute;
      top: 31px;
      left: 16px;
    }
  }

  &__image {
    &--about-us-page {
      margin-bottom: 16px;
      width: 260px;
      height: 128px;
      border-radius: 8px;
      box-shadow: $block-shadow;
      &--second-image {
        margin-bottom: 1rem;
      }
    }
  }
}