.main {
  &--about-us-page {
    background-color: $main-about-us-background-color;

    @include contentPadding;
  }

  &--service-page {
    background-color: $main-useful-page-background-color;

    @include contentPadding;
  }

  &--useful-page {
    background-color: $main-useful-page-background-color;

    @include contentPadding;
  }

  &--reviews-page {
    background-color: $body-reviews-page-background-color;

    @include contentPadding;
  }

  &__image {
    &--about-us-page {
      margin-bottom: 16px;
      width: 260px;
      height: 128px;
      border-radius: 8px;
      box-shadow: $block-shadow;
      &--second-image {
        margin-bottom: 1rem;
      }
    }
  }
}