.nav {
  @include onPhone(90px, 320px);
  @include contentPadding;

  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-link {
    display: flex;
    width: 125px;
    height: 40px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}