.personal-cabinet{
  &__heading {
    margin-top: 24px;
  }

  &__form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &--margin {
      margin-top: 24px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 32px 0 42px;
    align-items: center;
  }

  .button--active {
    min-width: 120px;

  }
}
