.person {
  display: flex;
  width: 190px;
  height: 48px;
  align-items: center;

  &__icon {
    width: 48px;
    height: 48px;

    &--first-person {
      background: url(../icons/reviews/person1.png);
      background-size: contain;
    }

    &--second-person {
      background: url(../icons/reviews/person2.png);
      background-size: contain;
    }
    
    &--third-person {
      background: url(../icons/reviews/person3.png);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__name {
    white-space: nowrap;
    color: $person-name-color;
    font-size: 1rem;
    font-weight: 600;
  }

  &__name-and-rate {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    gap: 8px;
  }
}