.reviews {
  width: 260px;
  flex-direction: column;
  margin: 0 auto;

  &__text {
    color: $review-text-color;
    font-size: 0.875rem;
    font-weight: 300;
  }

  &--margin-bottom {
    margin-bottom: 32px;
  }

  &--margin-bottom-last-component {
    margin-bottom: 48px;
  }
}

.reviews-page {
  &__reviews {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.review {
  padding: 14px 10px;
  margin-bottom: 8px;
  border-radius: 16px;
  border: 1px solid $review-border-color;
}