@import "../../styles/vars.scss";

.cart {
    position: absolute;
    right: 0;
    top: 105%;
    width: min(80vw, 400px);
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    z-index: 100;

    box-shadow: 13px 17px 44px -11px rgba(0,0,0,0.39);
    -webkit-box-shadow: 13px 17px 44px -11px rgba(0,0,0,0.39);
    -moz-box-shadow: 13px 17px 44px -11px rgba(0,0,0,0.39);

    div {
        display: flex;
        align-items: center;
    }

    &-close {
        padding: 0;
        background: transparent;
        border-radius: 100%;

        visibility: hidden;

        &:hover {
            background: #ccc;
        }

        @media (max-width: 768px) {
            visibility: visible;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-product {
        padding-block: 8px;

        box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.1);
        -webkit-box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 5px 8px -2px rgba(0,0,0,0.1);
        // border: 1px gray solid;
        .wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
                width: 55px;
                height: 40px;
            }
        }
    }
    &-product:first-of-type {
        margin-top: 16px;
    }

    &-total {
        margin-top: 16px;
        font-weight: 600;
    }

    &-amount {
        gap: 4px;
        margin-left: 8px;

        .amount-button {
            background-color: $bg-color;
            border-radius: 4px;
        }
    }

    @media (max-width: 768px) {
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
    }
}