@import "../../styles/vars.scss";

.navigation {
    width: 100%;
    flex: 1;
    order: 1;
    z-index: 100;

    &-burger {
        display: none;
    }

    &-categories {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-item {
        padding-block: 8px;
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        border-inline: 1px solid rgba(128, 128, 128, 0.329);
        margin-bottom: 4px;
    }

    @media (max-width: 1024px) {
        &-burger {
            display: flex;
        }

        &-categories {
            position: absolute;
            right: 0;
            left: 0;
            top: 100%;
            background: $bg-color;

            box-shadow: -2px 86px 74px -35px rgba(0,0,0,0.5);
            -webkit-box-shadow: -2px 86px 74px -35px rgba(0,0,0,0.5);
            -moz-box-shadow: -2px 86px 74px -35px rgba(0,0,0,0.5);

            flex-direction: column;
            justify-content: start;
            gap: 8px;
            width: 100%;
            transform: translateY(-200%);
            opacity: 0;
            transition: all 0.5s;

            &.open {
                opacity: 1;
                transform: translateY(0);
            }
        }

        &-item {
            width: 100%;
            justify-content: center;
            border: none;
        }
    }
}
