html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, menu {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes running-text {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
* {
  box-sizing: border-box;
}

.page {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #FAFEFD;
}
.page:has(.page__menu:target) {
  overflow: hidden;
}
.page__body {
  margin: 0;
}
.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translateX(-100%);
}
.page__menu:target {
  transform: translateX(0);
}
.page__menu:target {
  position: fixed;
  overflow-y: hidden;
  opacity: 1;
  pointer-events: all;
}
.page__menu__image {
  position: absolute;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  filter: blur(9px);
}

.feedback-button {
  position: fixed;
  display: flex;
  bottom: 50px;
  right: 30px;
  align-items: center;
  justify-content: center;
  background: url(../icons/contact/contact-background.svg);
  background-size: cover;
  height: 50px;
  width: 50px;
  z-index: 999;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}
.feedback-button:hover {
  cursor: pointer;
}
.feedback-button__icon-message {
  width: 33.3333333333px;
  height: 33.3333333333px;
  z-index: 999;
}
.feedback-button__icons {
  position: absolute;
  bottom: 68.3333333333px;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  gap: 15px;
}
.feedback-button__icon {
  opacity: 0;
  width: 33.3333333333px;
  height: 33.3333333333px;
  transition: all 0.3s;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}
.feedback-button__icon--telegram {
  transform: translateY(63.3333333333px);
}
.feedback-button__icon--viber {
  transform: translateY(113.3333333333px);
}
.feedback-button__icon--instagram {
  transform: translateY(163.3333333333px);
}
.feedback-button__icon--show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.header {
  position: relative;
}
.header--about-us-page {
  background-color: #FAFEFD;
}
.header--useful-page {
  background-color: #FAFEFD;
}
.header--contacts-page {
  background-color: #FAFEFD;
}
.header__background-image {
  position: absolute;
  width: 320px;
  height: 568px;
  z-index: -1;
  object-fit: cover;
  filter: blur(9px);
}
.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__content-title {
  color: #011B35;
  font-size: 3.125rem;
  font-weight: 700;
}
.header__content-title--main-page {
  margin: 100px 0 4px;
}
.header__content-title--about-us-page {
  margin: 24px 0 24px;
}
.header__content-text {
  margin-bottom: 48px;
  color: #011B35;
  font-size: 0.875rem;
  font-weight: 300;
}
.header__content-bottom-text {
  text-align: center;
  color: #0E0ADB;
  font-size: 1rem;
  font-weight: 500;
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .header__content-bottom-text {
    padding-inline: 40px;
  }
}
.header__content-bottom-text--strong {
  font-weight: 800;
}
.header__logo-image {
  width: 125px;
  height: 40px;
}

.nav {
  padding-inline: 30px;
  padding: 16px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 834px) {
  .nav {
    padding-inline: 40px;
  }
}
.nav__logo-link {
  display: flex;
  width: 125px;
  height: 40px;
}
.nav__icons {
  display: flex;
  align-items: center;
  gap: 12px;
}

.aside {
  z-index: 9999;
}
.aside__background-image {
  position: absolute;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  filter: blur(9px);
}
.aside__nav {
  padding-inline: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 834px) {
  .aside__nav {
    padding-inline: 40px;
  }
}
.aside__icons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.aside__links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .aside__links {
    padding-inline: 40px;
  }
}
.aside__link {
  text-decoration: none;
  color: #02101F;
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
}
.aside__link--margin-bottom {
  margin-bottom: 32px;
}
.aside__buttons {
  display: flex;
  gap: 20px;
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .aside__buttons {
    padding-inline: 40px;
  }
}

.button {
  display: flex;
  width: 260px;
  height: 48px;
  justify-content: center;
  align-items: center;
  background-color: #0E0ADB;
  border-radius: 100px;
  text-decoration: none;
  color: #fff;
  font-size: 1em;
  font-weight: 600;
}
.button--product {
  gap: 10px;
  width: 190px;
}
.button--aside {
  display: flex;
  width: 120px;
  height: 40px;
  align-items: center;
  gap: 8px;
  background: none;
  border: 1px solid #011B35;
  border-radius: 100px;
  color: #02101F;
  font-size: 0.875rem;
  font-weight: 600;
}
.button--redirect {
  background: none;
  color: #000;
  border: 1px solid #000;
  font-size: 0.875rem;
  font-weight: 500;
}
.button--redirect--wrapper {
  padding-inline: 30px;
  margin-bottom: 48px;
}
@media (min-width: 834px) {
  .button--redirect--wrapper {
    padding-inline: 40px;
  }
}
.button--answer {
  width: 190px;
  height: 40px;
  margin-top: 24px;
  background-color: #FAFEFD;
  color: #02101F;
  border-radius: 100px;
  border: 1px solid #011B35;
  font-size: 0.875rem;
  font-weight: 500;
}
.button--feedback {
  margin-bottom: 16px;
  border-radius: 16px;
  background-color: #FAFEFD;
  border: 1px solid #011B35;
}
.button--feedback-send {
  margin-bottom: 48px;
  width: 190px;
}
.button--call-margin {
  margin-top: 16px;
}
.button--show-on-map {
  background: transparent;
  border-radius: 100px;
  border: 1px solid var(--Accent-colour, #011B35);
  margin-top: 16px;
  color: var(--Main-text, #02101F);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
}
.button--forgot-password {
  color: #02101F;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  border-radius: 100px;
  border: 1px solid #0E0ADB;
  height: 40px;
}
.button--login {
  height: 40px;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon--basket {
  background-image: url(../icons/basket.svg);
}
.icon--basket-white {
  background-image: url(../icons/basket-white.svg);
}
.icon--search {
  background-image: url(../icons/search.svg);
}
.icon--menu {
  background-image: url(../icons/menu.svg);
}
.icon--close {
  background-image: url(../icons/close.svg);
}
.icon--favorite {
  background-image: url(../icons/favorite.svg);
}
.icon--account {
  background-image: url(../icons/account.svg);
}
.icon--socials {
  width: 48px;
  height: 48px;
}
.icon--location {
  background-image: url(../icons/location.svg);
  width: 50px;
  height: 50px;
}
.icon--phone {
  background-image: url(../icons/phone.svg);
  width: 50px;
  height: 50px;
}
.icon--contacts-telegram {
  background-image: url(../icons/contact/telegram.svg);
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}
.icon--contacts-viber {
  background-image: url(../icons/contact/viber.svg);
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

.main {
  --columns: 4;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  padding-inline: 30px;
  justify-content: center;
}
@media (min-width: 834px) {
  .main {
    padding-inline: 40px;
  }
}
@media (min-width: 834px) {
  .main {
    --columns: 6;
    column-gap: 24px;
  }
}
.main > * {
  grid-column: 1/-1;
}
.main--about-us-page {
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .main--about-us-page {
    padding-inline: 40px;
  }
}
.main--service-page {
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .main--service-page {
    padding-inline: 40px;
  }
}
.main--useful-page {
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .main--useful-page {
    padding-inline: 40px;
  }
}
.main--contacts-page {
  background-color: #FAFEFD;
  --columns: 4;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .main--contacts-page {
    padding-inline: 40px;
  }
}
@media (min-width: 834px) {
  .main--contacts-page {
    --columns: 6;
    column-gap: 24px;
  }
}
.main--reviews-page {
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .main--reviews-page {
    padding-inline: 40px;
  }
}
.main--form {
  --columns: 4;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .main--form {
    padding-inline: 40px;
  }
}
@media (min-width: 834px) {
  .main--form {
    --columns: 6;
    column-gap: 24px;
  }
}

.action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .action {
    padding-inline: 40px;
  }
}
.action__title {
  margin: 24px 0 24px;
  color: #000;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .content {
    padding-inline: 40px;
  }
}
.content__image {
  background: url(../images/action-image.png);
  background-size: contain;
  width: 260px;
  height: 128px;
  border-radius: 8px;
  box-shadow: 4px 4px 16.4px 0px rgba(0, 0, 0, 0.2);
}
.content__image--second {
  width: 260px;
  margin-top: 8px;
  background: url(../images/action-image-continue.png);
  background-size: contain;
  height: 340px;
  border-radius: 8px;
  box-shadow: 4px 4px 16.4px 0px rgba(0, 0, 0, 0.2);
}
.content__title {
  margin: 16px 0 8px;
  color: #0E0ADB;
  font-size: 1.25rem;
  font-weight: 800;
}
.content__text {
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: 400;
}

.animation {
  white-space: nowrap;
  display: flex;
  color: #fff;
  text-shadow: -1px -1px 0 rgba(14, 10, 219, 0.7490196078), 1px -1px 0 rgba(14, 10, 219, 0.7490196078), -1px 1px 0 rgba(14, 10, 219, 0.7490196078), 1px 1px 0 rgba(14, 10, 219, 0.7490196078);
  font-size: 1.25rem;
  font-weight: 700;
  overflow: hidden;
}
.animation__block {
  animation: running-text 7s linear infinite;
}
.animation__text {
  margin: 0 20px;
}

.product {
  display: flex;
  flex-direction: column;
  color: #000;
  font-size: 1rem;
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .product {
    padding-inline: 40px;
  }
}
.product--margin {
  margin: 24px 0 32px;
}
.product__image {
  background: url(../images/products/product-img.png);
  background-size: contain;
  width: 260px;
  height: 190px;
  border-radius: 8px;
  box-shadow: 4px 4px 16.4px 0px rgba(0, 0, 0, 0.2);
}
.product__descripsion {
  margin: 8px 0 0;
  font-weight: 400;
}
.product__name {
  font-weight: 500;
}
.product__price {
  margin: 16px 0;
  font-size: 1.25rem;
  font-weight: 700;
}
.product__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 3px solid #0E0ADB;
  border-radius: 50%;
}

.footer {
  display: flex;
  padding: 30px 0;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: #011B35;
  box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px 24px 0 0;
  padding-inline: 30px;
}
@media (min-width: 834px) {
  .footer {
    padding-inline: 40px;
  }
}
.footer--top-margin {
  margin-top: -25px;
}
.footer--top-margin--about-us-page {
  margin-top: 48px;
}
.footer__top-text {
  margin-bottom: 32px;
  color: #fff;
  text-transform: uppercase;
}
.footer__logo-link {
  display: flex;
}
.footer__logo-img {
  width: 260px;
  height: 86px;
}
.footer__menu {
  margin: 32px 0 58px;
}
.footer__menu--top {
  display: flex;
  gap: 32px;
  margin-bottom: 28px;
}
.footer__menu--bottom {
  display: flex;
  gap: 32px;
}
.footer__link {
  text-decoration: none;
}
.footer__item {
  color: #D8EFFB;
  font-weight: 500;
}
.footer__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.footer__nav--text {
  color: #fff;
  font-weight: 700;
}
.footer__nav-link {
  display: flex;
  text-decoration: none;
  color: #FAFEFD;
}
.footer__nav-link--phone {
  color: #D8EFFB;
}
.footer__nav-link--margin-top {
  margin-top: 24px;
}

.service {
  width: 260px;
  padding: 16px;
  margin: 0 auto;
  grid-column: 1/-1;
  border: 1px solid #0E0ADB;
  border-radius: 24px;
}
.service--margin-bottom {
  margin-bottom: 32px;
}
.service--last-card {
  margin-bottom: 48px;
}
.service__image {
  width: 230px;
  height: 115px;
  border-radius: 8px;
  box-shadow: 4px 4px 16.4px 0px rgba(0, 0, 0, 0.2);
}
.service__image--first {
  background: url(../images/service/service_photo1.png);
  background-size: cover;
}
.service__image--second {
  background: url(../images/service/service_photo2.png);
  background-size: cover;
}
.service__image--third {
  background: url(../images/service/service_photo3.png);
  background-size: cover;
}
.service__image--fourth {
  background: url(../images/service/service_photo4.png);
  background-size: cover;
}
.service__text {
  margin-top: 8px;
  color: #0C0202;
  font-size: 1rem;
  font-weight: 400;
}

.reviews {
  width: 260px;
  flex-direction: column;
}
.reviews__text {
  color: #02101F;
  font-size: 0.875rem;
  font-weight: 300;
}
.reviews--margin-bottom {
  margin-bottom: 32px;
}
.reviews--margin-bottom-last-component {
  margin-bottom: 48px;
}

.review {
  padding: 14px 10px;
  margin-bottom: 8px;
  border-radius: 16px;
  border: 1px solid #0E0ADB;
}

.person {
  display: flex;
  width: 190px;
  height: 48px;
  align-items: center;
}
.person__icon {
  width: 48px;
  height: 48px;
}
.person__icon--first-person {
  background: url(../icons/reviews/person1.png);
  background-size: contain;
}
.person__icon--second-person {
  background: url(../icons/reviews/person2.png);
  background-size: contain;
}
.person__icon--third-person {
  background: url(../icons/reviews/person3.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.person__name {
  white-space: nowrap;
  color: #0C0202;
  font-size: 1rem;
  font-weight: 600;
}
.person__name-and-rate {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  gap: 8px;
}

.stars {
  display: flex;
}
.stars__star-active {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background: url(../icons/reviews/star-active.svg) 50% no-repeat;
}
.stars__star-unactive {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background: url(../icons/reviews/star-unactive.svg) 50% no-repeat;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/header-background-image.png);
  z-index: -1;
  object-fit: cover;
  filter: blur(9px);
}

.assortment {
  padding: 18px 0;
  background-color: #D8EFFB;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  z-index: -1;
}

.description__image {
  display: block;
  width: 260px;
  height: 128px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 4px 4px 16.4px 0px rgba(0, 0, 0, 0.2);
}
.description__image--first {
  background: url(../images/header/about-us-header-img.png);
  background-size: contain;
}
.description__image--second {
  background: url(../images/header/about-us-header-img-2.png);
  background-size: contain;
}
.description__text {
  margin-bottom: 32px;
  color: #02101F;
  font-size: 0.875rem;
  font-weight: 300;
}
.description__text--margin-bottom {
  margin-bottom: 42px;
}

.useful {
  color: #02101F;
}
.useful__title {
  margin-bottom: 8px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}
.useful__title--margin-top {
  margin-top: 16px;
}
.useful__title--last-item-margin {
  margin: 24px 0 48px;
}
.useful__text {
  font-size: 0.875rem;
  font-weight: 300;
}
.useful__text--margin-top {
  margin-top: 8px;
}

.contacts {
  grid-column: 1/-1;
}
.contacts__title {
  font-size: 1.5rem;
  font-weight: 600;
}
.contacts__subtitle {
  margin: 24px 0 32px;
  font-size: 1.5rem;
  font-weight: 600;
}
.contacts__text {
  margin: 32px 0 24px;
  font-size: 1.25rem;
  font-weight: 600;
}
.contacts__salon {
  color: var(--Titles, #0C0202);
  font-size: 1.25rem;
  font-weight: 600;
  margin: 24px 0 16px;
}
.contacts__contact-us {
  color: #0C0202;
  font-size: 1.25rem;
  font-weight: 600;
}
.contacts__icons {
  margin: 24px 0 48px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.card {
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #011B35;
  background: #D8eFFB;
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card--margin-bottom {
  margin-bottom: 62px;
}
.card__info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
.card__icon--contacts {
  width: 50px;
  height: 48px;
}
.card__location {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.card__location-text {
  color: #02101F;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
}
.card__phone {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
}
.card__phone-text {
  color: #02101F;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}
.card__text {
  margin-top: 24px;
  margin-bottom: 16px;
  color: #02101F;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}
.card__photo {
  border-radius: 8px;
  border: 1px solid #011B35;
}
.card__message-us {
  margin-top: 32px;
  color: #0C0202;
  font-size: 1.25rem;
  font-weight: 600;
  grid-column: 1/-1;
}
.card__social {
  margin-top: 24px;
  margin-bottom: 48px;
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
}

.form-tabs {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  grid-column: 1/-1;
}

.form-tab {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 600;
}

.form-tab--active {
  color: #011B35;
  font-size: 1.25rem;
  font-weight: 600;
}

.form-container {
  display: none;
}

.form-container.active {
  display: flex;
  flex-direction: column;
  gap: 24px;
  grid-column: 1/-1;
}

.form-field {
  display: flex;
  gap: 7px;
  flex-direction: column;
}
.form-field__label {
  color: #011B35;
  font-size: 0.875rem;
  font-weight: 300;
}
.form-field__input {
  width: 100%;
  height: 48px;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #011B35;
  background: #FAFEFD;
}
.form-field__input::placeholder {
  width: 100%;
  color: #8A8A8A;
  font-size: 1rem;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
