@mixin onTablet {
 @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
 @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentPadding {
  padding-inline: 30px;

  @include onTablet {
    padding-inline: 40px;
  }
}

@mixin transitionAnimation {
  transition: all $transition-time;
  transform: translateX(-100%);

  &:target {
    transform: translateX(0);
  }
}

@mixin pageGrid {
  --columns: 4;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);
  @include contentPadding;

  @include onTablet {
    --columns: 6;
    column-gap: 24px;
  }
}
