@import '../../../Utils/variables';

.button {
  padding: 16px;
  min-width: 320px;
  border-radius: 100px;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;

  color: $--Background;
  background-color: $--New-accent-colour;
  border: 1px solid $--New-accent-colour;

  transition: color 0.2s linear, background-color 0.2s linear, border-color 0.2s linear;

  &:hover {
    color: #fff;
    background-color: $--Accent-colour;
    border-color: $--Accent-colour;
  }

  &:disabled {
    background-color: #E5E5E5;
    border-color: #E5E5E5;
    pointer-events: none;
  }

  &:active {
    background-color: #050383;
    border-color: #050383;
  }


  &--secondary {
    background-color: transparent;
    border-color: $--Accent-colour;
    color: $--Main-text;

    &:hover {
      border-color: $--Accent-colour;
      background-color: rgba(5, 0, 255, 0.3);
      color: $--Background;
    }

    &:disabled {
      border-color: #C1C1C1;
      color: #B7B7B7;
    }

    &:active {
      background-color: $--New-accent-colour;
      border-color: #003B57;
    }
  }
}
